<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides class="mainSlide" #slidePrincipal>
    <ion-slide>
      <form (ngSubmit)="login(fLogin)" #fLogin="ngForm">
        <ion-grid fixed>
          <ion-row>
            <ion-col>
              <ion-list>
                <ion-item>
                  <ion-label>Email</ion-label>
                  <ion-input
                    name="email"
                    type="email"
                    [(ngModel)]="loginUser.usuario"
                    required
                  ></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label>Password</ion-label>
                  <ion-input
                    name="password"
                    type="password"
                    [(ngModel)]="loginUser.pass"
                    required
                  ></ion-input>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-button type="submit" color="primary" expand="block">
                Login
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-slide>

    <ion-slide>
      <ion-grid fixed>
        <form (ngSubmit)="registro(fRegistro)" #fRegistro="ngForm">
          <ion-row>
            <ion-col>
              <ion-list>
                <ion-item>
                  <ion-label>Matricula: </ion-label>
                  <ion-input name="usuario" type="text" [(ngModel)]="registerUser.usuario" required></ion-input>
                  
                </ion-item>
                <ion-item>
                  <ion-label>Nombre: </ion-label>
                  <ion-input name="nombre" type="text" [(ngModel)]="registerUser.nombre" required></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Correo: </ion-label>
                  <ion-input name="correo" type="text" [(ngModel)]="registerUser.correo" required></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label>Telefono: </ion-label>
                  <ion-input name="telefono" type="email" [(ngModel)]="registerUser.telefono" required></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label>Password: </ion-label>
                  <ion-input
                    name="password"
                    type="password"
                    [(ngModel)]="registerUser.pass"
                    required
                  ></ion-input>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-button type="submit" color="primary" expand="block">
                Crear usuario
              </ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer no-border>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-button
          *ngIf="seleccion"
          shape="round"
          expand="full"
          size="small"
          color="primary"
          (click)="mostrarLogin()"
        >
          Ingresar
        </ion-button>
        <ion-button
          *ngIf="!seleccion"
          shape="round"
          expand="full"
          fill="outline"
          size="small"
          color="primary"
          (click)="mostrarLogin()"
        >
          Ingresar
        </ion-button>
      </ion-col>

      <ion-col>
        <ion-button
          *ngIf="seleccion"
          shape="round"
          expand="full"
          size="small"
          fill="outline"
          color="primary"
          (click)="mostrarRegistro()"
        >
          Registrarme
        </ion-button>
        <ion-button
          *ngIf="!seleccion"
          shape="round"
          expand="full"
          size="small"
          color="primary"
          (click)="mostrarRegistro()"
        >
          Registrarme
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>