<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
     Principal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-app>
  <ion-menu side="start" menuId="first">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Start Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>Solicitar Asesoria</ion-item>
        <ion-item>Ser Asesor</ion-item>
        
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>

<ion-content>
  <form (ngSubmit)="registro(fRegistro)" #fRegistro="ngForm">
          <ion-row>
            <ion-col>
              <ion-list>
                <ion-item>
                  <ion-label>Materia A Solicitar: </ion-label>
                  <ion-input name="materia" type="text" required></ion-input>
                  
                </ion-item>
                <ion-item>
                  <ion-label>Horario Preferido: </ion-label>
                  <ion-input name="turno" type="text"  required></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Fecha: </ion-label>
                  <ion-input name="fecha" type="date"  required></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label>Horario: </ion-label>
                  <ion-input name="hora" type="time"  required></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label>Descripción: </ion-label>
                  <ion-input
                    name="descripcion"
                    type="text"
                   
                    required
                  ></ion-input>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-button type="submit" color="warning" expand="block">
              Registrar asesoria 
              </ion-button>
            </ion-col>
          </ion-row>
        </form>
</ion-content>